@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-height: -webkit-fill-available;
}

body {
  background: #f0f2f5;
}

h1 {
  align-self: center;
  font-size: 2rem;
  background: linear-gradient(to bottom right, rgb(95, 137, 196),rgb(129, 158, 117));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  resize: none;
}

.avatar {
  align-self: center;
  margin-left: auto;
  margin-right: 1rem;
}

.topnav {
  background: linear-gradient(to bottom right, rgb(10, 30, 20),rgb(40, 20, 80));
}

.side-bar {
  height: -webkit-fill-available;
}

.go-expand {    
  animation-name: expand;
  animation-duration: 1s;
}

.go-retract {    
  animation-name: retract;
  animation-duration: 1s;
}

@keyframes expand {
  from {height:0%;} to {height:100%;}
}

@keyframes retract {
  from {height:100%;} to {height:0%;}
}

.conversation {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 0.1rem inset gainsboro;
}

.conversation:hover {
  background-color: gainsboro;
}

.dropdown-menu {
  left: auto;
  right: 0;
  background-clip: padding-box;
    background-color: var(--color-canvas-overlay);
    border: var(--primer-borderWidth-thin, 1px) solid var(--color-border-default);
    border-radius: var(--primer-borderRadius-medium, 6px);
    box-shadow: var(--color-shadow-large);
    left: 0;
    list-style: none;
    margin-top: 2px;
    padding-bottom: var(--primer-control-small-paddingBlock, 4px);
    padding-top: var(--primer-control-small-paddingBlock, 4px);
    position: absolute;
    top: 100%;
    z-index: 100;
}

.login-button {
  padding: 1rem;
}

.messages {
  background: url('/img/cream_dust.png') repeat 0 0;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #bbb8b7; 
}
 
.messages::-webkit-scrollbar-thumb {
  background: #888; 
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.clickable {
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
  height: 60vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}